boost/
pstsdknet/UnitTestProject1/bin/
pstsdknet/pstsdk.definition/obj/
pstsdknet/pstsdk.definition/bin/
pstsdknet/UnitTestProject1/obj/
pstsdknet/ipch/pstsdk.mcpp-39491524/pstsdk.ipch
pstsdknet/samples/PSTExplorer/bin/
pstsdknet/pstsdk.net/pstsdk.test/obj/
pstsdknet/samples/PSTExplorer/lib/
pstsdknet/pstsdk.net/obj/
pstsdknet/pstsdk.mcpp/pstsdk.mcpp.test/obj/
pstsdknet/pstsdk.net/bin/
pstsdknet/samples/pstattachment/obj/
pstsdknet/samples/storeinfo/obj/
pstsdknet/samples/pstdir/obj/x86/
pstsdknet/samples/pstdir/obj/
pstsdknet/samples/PSTExplorer/obj/
pstsdknet/Release/
pstsdknet/Backup/
pstsdknet/samples/nameprop/obj/
pstsdknet/pstsdk.net.sdf
pstsdknet/pstsdk.net.opensdf
